div#footer {
    margin: 1em 0 .7em 0;
}

div.header-row {
    margin-bottom: 1.2em;
}

div.search-bar-row {
    margin-bottom: 2em;
}

div.buttons-row {
    margin-top: 2em;
}

div.confirm-message p {
    font-size: 1.4em;
    margin-bottom: 1.5em;
    text-align: center;
}

div.confirm-message {
    padding-bottom: 3em;
    margin-bottom: 2em;
}

#container th {
    background: #c6e9f3;
}